h2 {
  font-size: 2rem;
}

p {
  font-size: 1.3rem;
}

.grid {
  display: grid;
  grid-template-columns: 4fr 6fr;
}

/* .home{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home > *:nth-child(2) {
  flex: 1;
} */

.left {
  padding: 20px 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.right {
  background: url("Vesuvios.jpg");
  background-position: center bottom;
}

@media screen and (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 6fr;
  }

}

@media screen and (max-width: 600px) {
  h2 {
    font-size: 1.5rem;
  }

  p {
    font-size: 1rem;
  }

  .left {
    gap: 10px;
  }
}
