h1 {
  font-size: 2.5rem;
  font-style: italic;
}

.header {
  background-color: #161b21;
  color: #f3a950;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}

.nav {
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 2rem;
}

.nav li {
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .nav {
    flex-direction: column;
    gap: 2px;
    font-size: 1rem;
  }

  .nav li {
    flex: 1 1 27px;
  }

  h1 {
    font-size: 1.5rem;
  }
  .header .container {
    padding: 20px 10px;
  }
}
