* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content > *:nth-child(2) {
  flex: 1 0 90vh;
}

main {
  color: #BD8F4D;
  background-color: #191919;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.active-tab {
  border-bottom: 5px solid #BD8F4D;
}