* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(213, 201, 201);
}

#content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content > *:nth-child(2) {
  flex: 1;
}

main {
  background-color: rgba(38, 10, 10);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}
